@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.card-body {
    background: #6bffff;
    border-radius: 15px;
}
.card {
    width: 300px;
    border: none;
    border-radius: 15px;
}

.adiv {
    background: #c8fffa;
    border-radius: 15px;
    /* border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; */
    font-size: 15px;
    height: 46px;
}

.chat {
    /* border: none;
    background: #c8fffa; */
    font-size: 12px;
    border-radius: 20px;
}

.bg-white {
    border: 1px solid #f7fcfd;
    font-size: 10px;
    border-radius: 20px;
}

.myvideo img {
    border-radius: 20px;
}

.dot {
    font-weight: bold;
}

.form-control {
    border-radius: 12px;
    border: 1px solid #f0f0f0;
    font-size: 12px;
}

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    font-size: 20px;
    color: #c4c4c4;
}
